mat-sidenav {
  background-color: #be4aa3;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: 56px;
  text-align: center;
  padding: 1em;
  @media screen and (min-width: 600px) {
    margin-top: 64px;
  }
}

mat-sidenav-container {
  height: 100vh;
}

.logo {
  margin-top: 1em;
  width: 6.25em;
  height: 6.25em;
  border-radius: 50%;
}

.name {
  margin-top: 1em;
  font-weight: normal;
  color: #fff;
}

.asignation {
  margin-top: 2px;
  color: #fff;
}

.menu__btn {
  mat-icon,
  span {
    color: #fff;
    font-weight: bold;
  }
}

mat-divider {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgba(255, 255, 255, 0.5);
}

.content {
  // height: 100vh;
  margin-top: 56px;
  @media screen and (min-width: 600px) {
    margin-top: 64px;
  }
}
