<app-toolbar [sidenav]="sidenav"></app-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <img
      class="logo mat-elevation-z8"
      src="../assets/images/TKlogo.png"
      alt="TKlogo"
    />

    <h4 class="name">Tekton Labs</h4>
    <p class="asignation">Airlines</p>

    <mat-divider></mat-divider>

    <button
      *ngFor="let link of sidenavLinks"
      mat-button
      class="menu__btn"
      [routerLink]="link.link"
    >
      <mat-icon>{{ link.icon }}</mat-icon>
      <span>{{ link.name }}</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>