.register__alert{
    display: flex;
    align-items: center;
    justify-content: center;
    // font-size: 0.875em;
    margin-bottom: 14px;
    p{
        font-size: 1rem;
        color: #ab4493;
        font-weight: bold;
    }
}

.register__progress{
    @extend .register__alert;
    progress {
        background-color: #e694c2;
        appearance: none;
        accent-color: #ad208c;
        width: 100%;
        margin-right: 1em;
        margin-left: 1em;
        height: 20px;
        border-radius: 10px;
        @media screen and (min-width: 850px) {
            width: 38.5em;
        }
    }
    progress::-webkit-progress-bar {
        background-color: #e694c2;
        border-radius: 10px;
    }
    progress::-webkit-progress-value {
        background-color: #ad208c;
        border-radius: 10px;
        transition: width 0.4s ease-in;
    }
    progress::-moz-progress-bar {
        background-color: #ab4493;
        border-radius: 10px;
        transition: width 0.4s ease-in;
    }
}

.verify__btn{
    @extend .register__alert;
    a{
        text-decoration: none;
        font-size: 0.875rem;
        color: #fff;
        background-color: #ab4493;
        padding: 0.7em 1em;
        border-radius: 0.5em;
        &:hover{
            background-color: #ce569a;
        }
        &:active{
            background-color: #c775a3;
        }
    }    
}