:host {
  padding: 1em;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}

.form {
  height: auto;
  border-radius: 0.7em;
  padding: 1em;
  background-color: #fbfbfb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @media screen and (min-width: 850px) {
    width: 42em;
    margin: 0 auto;
  }
}

.form__title {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  color: #ab4493;
  margin-bottom: 1em;
}

.form__container {
  display: flex;
  flex-direction: column;
}

.form__control {
  @extend .form__container;

  label {
    display: block;
    float: center;
  }
  input,
  select {
    background-color: #fbfbfb;
    height: 30px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 0.35em;
    padding-left: 0.7em;
    margin-bottom: 1em;
    &:focus{
      outline-color: #ab4493;
    }
    &.ng-invalid.ng-dirty, &.ng-invalid.ng-touched{
      outline: 1px solid #bd0c0c;
      background-color: #ffe2e2;
    }
    &.ng-valid{
      background-color: #fbdaed;
    }
  }
}

.btn__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  button {
    background-color: #ab4493;
    color: #fff;
    font-size: 0.875rem;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    padding: 0.7em 1em;
    &:hover {
      background-color: #ce569a;
    }

    &:active {
      background-color: #c775a3;
    }

    &:disabled {
      background-color: #505050;
      cursor: not-allowed;
    }
    @media screen and (max-width: 280px) {
      &:nth-child(2) {
        margin-top: 1em;
      }
    }
  }
}
