<div class="summary__indicator">
  <p>{{ passengers.length | numberMessage }}</p>
  <a *ngIf="passengers.length < 4" routerLink="/register">{{
    passengers.length | btnMessage
  }}</a>
</div>

<app-passengers
  *ngIf="passengers.length"
  [passengers]="passengers"
></app-passengers>
