:host {
    padding: 1em;
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
}

.summary__indicator{
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    p{
        color: #ab4493;
        font-size: 1rem;
        margin-bottom: 0.875em;
        font-weight: bold;
    }
    a{
        text-decoration: none;
        color: #fff;
        background-color: #ab4493;
        padding: 0.7em 1em;
        border-radius: 0.5em;
        &:hover{
            background-color: #ce569a;
        }
        &:active{
            background-color: #c775a3;
        }
    }
}